body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #333;
    padding: 10px;
    color: #fff;
}

footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #333;
    padding: 10px;
    color: #fff;
}

th, td {
    border: 2px solid #fff;
    padding: 15px;
}

table{
    margin: 25px;
    border-collapse: collapse;
}

#ol-list, #ol-p{
    text-align: right;
    padding-right: 20px;
}

#book-shop-heading{
    margin: 20px 0 20px 0;
}

#book-shop-tagline{
    margin: 0 0 20px 0;
}

#books{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book{
    border: 1px solid #ccc;
    margin: 10px 30px 30px 10px;
    padding: 10px 10px 10px 10px;
    max-width: 300px;
}

.book-title{
    color:#333;
    font-size: 2rem;
    margin:10px 0 10px 0;
    overflow-x: hidden;
}

.book-cover{
    max-width: 100%;
    width: 100%;
    border-radius: 10px;
    display: block;
}

.book-cover-div{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.book-author{
    display: inline;
    font-size: 1.5rem;
    
}

.book-author-link{
    margin: 5px 0 0 0;
}

.author-image{
    max-width: 100%;
    width: 100%;
    border-radius: 50%;
    display: block;
}

.author-image-div{
    border: 1px solid #ccc;
    border-radius: 50%;
    padding: 10px;
    max-width: 100px;
    float: left;
    margin: 10px 10px 10px 0;
}


.book-description{
    margin: 10px 0;
    display: inline;
}

.book-read-more{
    margin: 5px 0 0 0;
}